body{
    background-image: url("../Images/form-back.jpg");
}
p{
    text-align: center;
}
.main-box{
    width: 50%;
    position: relative;
    top: 215px;
    left: 27%;
    background-color: white;
    border: 2px solid rgb(234, 114,0);
    border-radius: 10px;
    box-shadow: 10px 5px 5px #888888;
    margin-bottom: 100px;
}
.main-head{
    margin: auto;
    background-color: rgb(234, 114,0);
    color: white;
    font-family: cursive;
    padding: 10px;
    text-align: center;
}
.main-body{
    padding: 30px 10px 30px 10px;
    overflow-y: scroll;
    min-height: 200px;
}
.main-footer{
    border-top: 2px solid rgb(234, 114,0);
    padding: 30px 10px 30px 10px;
    overflow-y: auto;
}
.modal-footer{
    padding-left: 100px;
    -webkit-justify-content: normal;
    justify-content: normal;
}
.modal-content{
    width: 500px;
}
.event-description{
    width: 90%;
    height: 15%;
    overflow: scroll;
}
input[type=checkbox]{
    margin: 10px;
}
.del-btn{
    width: 11%;
    height: 10%;
    float: right;
    margin-right: 15px;
    font-size: 15px;
    padding: 0px;
}
.event-row{
    padding: 15px 0px 15px 15px;
    border: 2px solid rgb(234, 114,0);
    overflow: auto;
}
/* .radio-green [type="radio"]:checked+label:after {
    border-color: rgb(234, 114,0);
    background-color: rgb(234, 114,0);
} */
/* Popup container*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popuptext {
    /* visibility: hidden; */
    width: 430px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 83%;
    left: -11%;
    margin-left: -80px;
    padding: 10px;
}

/* Popup arrow */
.popuptext::after {
    content: "";
    position: absolute;
    top: -13%;
    left: 50%;
    margin-left: -5px;
    /* border-width: 5px; */
    /* border-style: solid; */
    border-color: #555 transparent transparent transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #555;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
    visibility: visible;
    /* display: block; */
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
 @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.notification{
    width: 25px;
    margin-left: -5%;
    margin-right:-8%px;
    position: relative;
    left: -82px;
}
.response{
    border-top: 1px solid #eceeef;
    padding: 20px;
    padding-bottom: 0px;
}
.padd-20{
    padding: 20px;
}
.padd-left{
    padding-left: 20px;
    padding-top: 5px;   
}
.sub-btn{
    width: 55%;
    margin-left: 22%;
    margin-top: 25px;
}
#loader{
    position: relative;
    top: -191px;
    left: 42%;
}